@import 'fonts.scss';
@import 'navbar.scss';
@import 'footer.scss';

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin box-shadow ($offsetx, $offsety, $blur, $spread, $color) {
	-moz-box-shadow: $offsetx $offsety $blur $spread $color;
	-webkit-box-shadow: $offsetx $offsety $blur $spread $color;
	box-shadow: $offsetx $offsety $blur $spread $color;
}

html {
	min-height: 100%;
	position: relative;
}

body {
	font-family: "museo_sans500";
	margin-bottom: 241px;
	background-color: #333333;
	font-family: "museo_sans500";
	margin-bottom: 241px;
	margin-top: 128.5px;
	background-color: #210D00;
	color: #fff;
}

.container {
	.form-group {
		width: 90%;

		#fAddress {
			width: 53%;
		}

		#fCity {
			width: 12%;
		}

		#fState {
			width: 5%;
		}

		#fZip {
			width: 10%;
		}
	}
}

#locations-list {
	height: auto;
	max-height: 500px;
	margin-bottom: 60px;
	overflow: auto;
}

#mapid {
    position: inherit;
    height: 500px;
    margin: 0;
    padding: 0;
    // border: 1px solid black;
    // border-radius: 8px;
    z-index: 0;

    .leaflet-control-container {
    	width: 100%;
    }
}