$footer-link-hover: #65c2ed;
$gray-darker: lighten(#000, 13.5%) !default; // #222
$gray-darker-inactive: #9d9d9d;
.footer-logo {
	background-image: url("../images/bakesale2go-logo.svg");
	background-repeat: no-repeat;
	background-position: center;
	height: 100px;
	width: 100%;
	max-width: 300px;
	display: block;
	margin: auto;
}
span.copy {
	color: #fff;
	font-size: 10px;
	width: 100%;
	text-align: center;
	display: block;
	padding: 20px;
}
footer {
	background: #74dbf1;
	color: #fff;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 241px;
	&.product-footer {
		height: auto;
}

	.footer-logo {
		background-image: url("../images/bakesale2go-logo.svg");
		background-repeat: no-repeat;
		background-position: center;
		height: 100px;
		width: 100%;
		max-width: 300px;
		display: block;
		margin: auto;
	}

	span.copy {
		color: #fff;
		font-size: 10px;
		width: 100%;
		text-align: center;
		display: block;
		padding: 20px;
	}

	h3 {
		color: $gray-darker-inactive;
		font-weight: lighter;
		font-style: italic;
		margin-bottom: 0;
		margin-top: 40px;
	}

	p, li {
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		margin: 10px 0;
	}

	a {
		color: #fff;
		text-decoration: none;
		-webkit-transition: color .5s, background .5s;
		transition: color .5s, background .5s;
		&:hover {
			color: $footer-link-hover;
		}
	}

	.centered {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;

		&:before,
		&:after {
			content: '\0020';
			display: block;
			overflow: hidden;
			visibility: hidden;
			width: 0;
			height: 0;
			clear: both;
		}

		.footer-contact {
			width: 35%;

			.fa {
				width: 20px;
				padding-right: 10px;
			}
		}

		.footer-connect {
			width: 35%;
		}

		.footer-navigation {
			width: 30%;

			ul {
				width: 50%;
				float: left;
			}

			.fa {
				padding-right: 10px;
			}
		}
	}

	ul {
		list-style-type: none;
	}
}

.social {
	li {
		float: left;
	}

	a {
		display: inline-block;
		padding: 0 7px;
		margin: 3px 10px 10px 0;
		vertical-align: middle;
	}
}