.popups {
	// position: relative;
	float: left;
	// left: 365px;
	margin-left: 20%;
	width: 60%;
	padding: 0;

	.update-bg {
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
		color: #333;

		#login-window {
			border-radius: 10px;
			font-size: 16px;
			height: 46vh;
			margin-left: 41%;
			padding: 2vh 2vh;
			position: fixed;
			top: 27vh;
			width: 18%;
			z-index: 1001;

			form {
				height: 26vh;

				.form-group {
					width: 100%;

					legend {
						text-align: center;
						font-size: 22px;
					}

					input {
						margin-bottom: 10px;
						font-size: 16px;
					}
				}

				.alert {
					padding-top: 5px;
					padding-bottom: 5px;

					button {
						font-size: 22px;
						width: 40px;
					}
				}

				button {
					float: left;
					margin-bottom: 10px;
					font-size: 16px;
					width: 80px;
				}

				.external-logins {
					border-color: #b2b2b2;
					border-style: solid;
					border-width: 0 0 1px 0;
					height: 15vh;
					margin-bottom: 5px;

					#btn-google, #btn-facebook, #btn-github {
						width: 100%;
					}

					.btn {
					  background-image: none;
					  border: 1px solid transparent;
					  white-space: nowrap;
					  padding: 8px 12px;
					  // font-size: 14px;
					  line-height: 1.42857143;
					  -webkit-user-select: none;
					  -moz-user-select: none;
					  -ms-user-select: none;
					  user-select: none;
					  width: 100%;
					}

					.btn-default {
					  color: #ffffff;
					  background-color: #3a3f44;
					  border-color: #3a3f44;
					  font-weight: 100;
					}

					.btn-default:focus,
					.btn-default.focus {
					  color: #ffffff;
					  background-color: #232628;
					  border-color: #000000;
					}

					.btn-default:hover {
					  color: #ffffff;
					  background-color: #232628;
					  border-color: #1e2023;
					}

					.btn-default:active,
					.btn-default.active,
					.open > .dropdown-toggle.btn-default {
					  color: #ffffff;
					  background-color: #232628;
					  border-color: #1e2023;
					}

					.btn-default:active:hover,
					.btn-default.active:hover,
					.open > .dropdown-toggle.btn-default:hover,
					.btn-default:active:focus,
					.btn-default.active:focus,
					.open > .dropdown-toggle.btn-default:focus,
					.btn-default:active.focus,
					.btn-default.active.focus,
					.open > .dropdown-toggle.btn-default.focus {
					  color: #ffffff;
					  background-color: #121415;
					  border-color: #000000;
					}

					.btn-default:active,
					.btn-default.active,
					.open > .dropdown-toggle.btn-default {
					  background-image: none;
					}

					.btn-default.disabled:hover,
					.btn-default[disabled]:hover,
					fieldset[disabled] .btn-default:hover,
					.btn-default.disabled:focus,
					.btn-default[disabled]:focus,
					fieldset[disabled] .btn-default:focus,
					.btn-default.disabled.focus,
					.btn-default[disabled].focus,
					fieldset[disabled] .btn-default.focus {
					  background-color: #3a3f44;
					  border-color: #3a3f44;
					}

					.btn-default .badge {
					  color: #3a3f44;
					  background-color: #ffffff;
					}
				}

				#login {
					margin-left: 61px;
				}

				#signup {
					margin-left: 20px;
				}

				a {
					clear: both;
					display: block;
					margin-left: auto;
					margin-right: auto;
					text-align: center;
				}
			}
		}

		#signup-window {
			font-size: 16px;
			position: fixed;
			top: 25vh;
			margin-left: 35%;
			height: 50vh;
			width: 30%;
			z-index: 1002;
			border-radius: 10px;

			form {
				height: 26vh;
				width: 80%;
				margin-left: auto;
				margin-right: auto;

				.form-group {
					width: 100%;

					legend {
						text-align: center;
						font-size: 20px;
					}

					input {
						margin-bottom: 10px;
						font-size: 16px;
					}
				}

				.alert {
					padding-top: 5px;
					padding-bottom: 5px;

					button {
						font-size: 22px;
						width: 40px;
					}
				}

				button {
					float: left;
					margin-bottom: 10px;
					font-size: 16px;
					width: 80px;
				}

				.external-signups {
					border-color: #b2b2b2;
					border-style: solid;
					border-width: 0 0 1px 0;
					height: 15vh;
					margin-bottom: 5px;
					width: 100%;

					#btn-google-signup, #btn-facebook-signup, #btn-github-signup {
						width: 100%;
					}

					.btn {
					  background-image: none;
					  border: 1px solid transparent;
					  white-space: nowrap;
					  padding: 8px 12px;
					  // font-size: 14px;
					  line-height: 1.42857143;
					  -webkit-user-select: none;
					  -moz-user-select: none;
					  -ms-user-select: none;
					  user-select: none;
					}

					.btn-default {
					  color: #ffffff;
					  background-color: #3a3f44;
					  border-color: #3a3f44;
					  font-weight: 100;
					}

					.btn-default:focus,
					.btn-default.focus {
					  color: #ffffff;
					  background-color: #232628;
					  border-color: #000000;
					}

					.btn-default:hover {
					  color: #ffffff;
					  background-color: #232628;
					  border-color: #1e2023;
					}

					.btn-default:active,
					.btn-default.active,
					.open > .dropdown-toggle.btn-default {
					  color: #ffffff;
					  background-color: #232628;
					  border-color: #1e2023;
					}

					.btn-default:active:hover,
					.btn-default.active:hover,
					.open > .dropdown-toggle.btn-default:hover,
					.btn-default:active:focus,
					.btn-default.active:focus,
					.open > .dropdown-toggle.btn-default:focus,
					.btn-default:active.focus,
					.btn-default.active.focus,
					.open > .dropdown-toggle.btn-default.focus {
					  color: #ffffff;
					  background-color: #121415;
					  border-color: #000000;
					}

					.btn-default:active,
					.btn-default.active,
					.open > .dropdown-toggle.btn-default {
					  background-image: none;
					}

					.btn-default.disabled:hover,
					.btn-default[disabled]:hover,
					fieldset[disabled] .btn-default:hover,
					.btn-default.disabled:focus,
					.btn-default[disabled]:focus,
					fieldset[disabled] .btn-default:focus,
					.btn-default.disabled.focus,
					.btn-default[disabled].focus,
					fieldset[disabled] .btn-default.focus {
					  background-color: #3a3f44;
					  border-color: #3a3f44;
					}

					.btn-default .badge {
					  color: #3a3f44;
					  background-color: #ffffff;
					}
				}

				#register-user {
					margin-left: 125px;
				}

				#close-signup-window {
					margin-left: 20px;
				}
			}
		}

		#create-item-window, #update-window {
			font-size: 14px;
			position: fixed;
			top: 18vh;
			margin-left: 37.5%;
			height: 64vh;
			width: 25%;
			z-index: 1001;
			border-radius: 10px;
			padding: 48px 0;

			legend {
				text-align: center;
				font-size: 24px;
			}

			form {
				height: 26vh;
				width: 80%;
				margin-left: auto;
				margin-right: auto;

				input {
					margin-bottom: 10px;
					font-size: 14px;
				}

				button {
					float: left;
					margin-bottom: 10px;
					margin-top: 10px;
					font-size: 14px;
					width: 30%;
				}

				#add-new-item, #submit-update {
					margin-left: 17.5%;
				}

				#cancel-new-item, #cancel-update {
					margin-left: 5%;
				}
			}
		}

		#create-location-window, #update-location-window {
			font-size: 14px;
			position: fixed;
			top: 16vh;
			margin-left: 37.5%;
			height: 68vh;
			width: 25%;
			z-index: 1001;
			border-radius: 10px;
			padding: 48px 0;

			legend {
				text-align: center;
				font-size: 24px;
			}

			form {
				height: 26vh;
				width: 80%;
				margin-left: auto;
				margin-right: auto;

				input {
					margin-bottom: 10px;
					font-size: 14px;
				}

				button {
					float: left;
					margin-bottom: 10px;
					margin-top: 10px;
					font-size: 14px;
					width: 30%;
				}

				#add-new-item, #submit-update {
					margin-left: 17.5%;
				}

				#cancel-new-item, #cancel-update {
					margin-left: 5%;
				}
			}
		}
	}
}