// Variables
$footer-link-hover     : #65c2ed;
$gray-darker           : lighten(#000, 13.5%) !default; // #222
$gray-darker-inactive  : #9d9d9d;
$black                 : #000 !default;
$white                 : #fff !default;
$theme-color-jumbotron : #0E0D10;
$theme-color-panel     : #1D212D;

@font-face {
    font-family: "museo_sans500";
    src: url("../fonts/museosans_500/MuseoSans_500-webfont.eot");
    src: url("../fonts/museosans_500/MuseoSans_500-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/museosans_500/MuseoSans_500-webfont.woff2") format("woff2"),
         url("../fonts/museosans_500/MuseoSans_500-webfont.woff") format("woff"),
         url("../fonts/museosans_500/MuseoSans_500-webfont.ttf") format("truetype"),
         url("../fonts/museosans_500/MuseoSans_500-webfont.svg#museo_sans500") format("svg");
    font-weight: normal;
    font-style: normal;
}

@mixin box-shadow ($offsetx, $offsety, $blur, $spread, $color) {
	-moz-box-shadow: $offsetx $offsety $blur $spread $color;
	-webkit-box-shadow: $offsetx $offsety $blur $spread $color;
	box-shadow: $offsetx $offsety $blur $spread $color;
}

html {
	min-height: 100%;
	position: relative;
}

body {
	font-family: "museo_sans500";
	margin-bottom: 241px;
	// padding-top: 100px;
}

.update-bg {
	position         : fixed; /* Stay in place */
	z-index          : 1; /* Sit on top */
	left             : 0;
	top              : 0;
	width            : 100%; /* Full width */
	height           : 100%; /* Full height */
	overflow         : auto; /* Enable scroll if needed */
	background-color : rgb(0,0,0); /* Fallback color */
	background-color : rgba(0,0,0,0.6); /* Black w/ opacity */

    #create-item-window, #update-window {
    	font-size: 14px;
    	position: fixed;
    	top: 18vh;
    	margin-left: 37.5%;
    	height: 64vh;
    	width: 25%;
    	z-index: 2;
    	border-radius: 10px;

    	legend {
    		text-align: center;
    		font-size: 24px;
    	}

    	form {
    		height: 26vh;
    		width: 80%;
    		margin-left: auto;
    		margin-right: auto;

    		input {
    			margin-bottom: 10px;
    			font-size: 14px;
    		}

    		button {
    			float: left;
    			margin-bottom: 10px;
    			margin-top: 10px;
    			font-size: 14px;
    			width: 30%;
    		}

    		#add-new-item, #submit-update {
    			margin-left: 17.5%;
    		}

    		#cancel-new-item, #cancel-update {
    			margin-left: 5%;
    		}
    	}
    }
}

.header {
	margin-top: 20px;
	background-color: $theme-color-jumbotron;
	background-image: none;
	color: $white;
	text-align: center;
}

#create-item {
	margin-bottom: 20px;
}

#inventory-table {
	.sorter {
		float: right;
		padding: 2px 6px;
		font-size: 16px;
	}

	.fa-caret-down {
		margin-right: 5px;
	}

	td:nth-child(1) {
		width: 20%;
	}

	td:nth-child(2), td:nth-child(5) {
		width: 12%;
	}

	td:nth-child(3) {
		width: 15%;
	}

	td:nth-child(4) {
		width: 34%;
	}

	td:nth-child(6) {
		width: 7%;
	}

	button {
		float: right;
		padding: 2px 6px;
		font-size: 12px;
	}

	.edit-button {
		margin-right: 5px;
	}
}

input {
	margin-bottom: 20px;
}

.products-content {
	.thumbnail {
		img {
			max-height: 235px;
		}
	}
}

.cart {
	border-width: 2px;
	border-color: black;
	border-style: solid;
	margin-bottom: 20px;

	h3 {
		text-align: center;
	}
}

/*! Footer */
footer {
	background     : $gray-darker;
	color          : $white;
	margin         : 0;
	font-family    : 'Open Sans', sans-serif;
	position       : absolute;
	bottom         : 0;
	width          : 100%;
	height         : 241px;

	h3 {
		color         : $gray-darker-inactive;
		font-weight   : lighter;
		font-style    : italic;
		margin-bottom : 0;
		margin-top: 40px;
	}

	p, li {
		font-weight    : 400;
		text-transform : uppercase;
		letter-spacing : 0.05em;
		margin         : 10px 0;
	}

	a {
		color              : $white;
		text-decoration    : none;
		-webkit-transition : color .5s, background .5s;
		transition         : color .5s, background .5s;
		&:hover {
			color: $footer-link-hover;
		}
	}

	.centered {
		max-width       : 1200px;
		margin          : 0 auto;
		display         : flex;
		justify-content : space-between;

		&:before,
		&:after {
			content: '\0020';
			display: block;
			overflow: hidden;
			visibility: hidden;
			width: 0;
			height: 0;
			clear: both;
		}

		.footer-contact {
			width: 35%;

			.fa {
				width: 20px;
				padding-right: 10px;
			}
		}

		.footer-connect {
			width: 35%;
		}

		.footer-navigation {
			width: 30%;

			ul {
				width: 50%;
				float: left;
			}

			.fa {
				padding-right: 10px;
			}
		}
	}
	.bottom-bar {
		position       : relative;
		text-align     : center;
		font-size      : .8em;
		text-transform : uppercase;
		background     : $black;
		padding        : 15px 0;
	}

	ul {
		list-style-type: none;
	}
}

// Social Icons
.social {
	li {
		float: left;
	}

	a {
		display        : inline-block;
		padding        : 0 7px;
		margin         : 3px 10px 10px 0;
		vertical-align : middle;
	}
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*! Footer */

 // Responsive Tablet Sizes
@media only screen and (max-width: 991px) {
	// body {
	// 	padding-top: 156px;
	// }
}

@media only screen and (max-width: 769px) {
	// body {
	// 	padding-top: 100px;
	// }
	.card {
		// margin-left: auto;
		// margin-right: auto;
		// margin-top: 100px;
		// height: 100%;
		margin-bottom: 99px;
		padding-bottom: 50px;
		// width: 90%;

		// .face {
		// 	border-radius: 20px;
		// }

		.front {

			.start-menu {
				.col-md-6 {
					float: left;
					margin-left: 5%;
					margin-right: 5%;
					width: 40%;
				}

				h1 {
					padding-top: 30px;
				}

				.button {
					margin-left: 0;
					width: 100%;
				}

				#start {
					width: 100%;
					margin-left: 0;
					height: 60px;
				}
			}

			.trivia {
				.question {
					margin: 30px 50px 5px;
				}

				.choices {
					margin: 20px 50px 0;
				}
			}
		}

		.back {
			.content {
				margin-top: -30px;
			}
		}
	}
}

@media only screen and (max-width: 749px) {
	body {
		margin-bottom: 377px;
	}

	footer {
		height: 377px;
		.centered {
			flex-wrap:wrap;
			.footer-contact {
				width  : 50%;
				margin : 0 auto;
			}

			.footer-connect {
				width  : 50%;
				margin : 0 auto;
			}
			.footer-navigation {
				width:100%;
			}
		}
	}
}

 // Responsive Mobile Sizes
@media only screen and (max-width: 699px) {
	
}


@media only screen and (max-width: 500px) {
	body {
		margin-bottom: 600px !important;
	}

	.card {
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		height: 650px;
		margin-bottom: 60px;
		width: 100%;

		.face {
			border-radius: 20px;
		}

		.front {

			.start-menu {
				.col-md-6 {
					margin-left: 2.5%;
					margin-right: 2.5%;
					width: 45%;
				}

				h1 {
					font-size: 24px;
				}

				.button {
					padding-left: 8px;
					padding-right: 8px;
				}

				#start {
					margin-top: 30px;
				}
			}

			.trivia {
				.question {
					margin: 30px 33px 5px;
				}

				.choices {
					margin: 20px 33px 0;
				}
			}
		}

		.back {
			.content {
				margin-top: 0;
			}
			.correct-content {
				h1 {
					margin-left: -25px;
				}
			}
		}
	}

	footer {
		height: 505px;

		.centered {
			margin-right : 0;
			margin-left  : 0;
			.footer-contact {
				width  : 100%;
				margin : 0 auto;
			}

			.footer-connect {
				width  : 100%;
				margin : 0 auto;
			}
		}
	}
}