@font-face {
    font-family: "museo_sans500";
    src: url("../fonts/museosans_500/MuseoSans_500-webfont.eot");
    src: url("../fonts/museosans_500/MuseoSans_500-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/museosans_500/MuseoSans_500-webfont.woff2") format("woff2"),
         url("../fonts/museosans_500/MuseoSans_500-webfont.woff") format("woff"),
         url("../fonts/museosans_500/MuseoSans_500-webfont.ttf") format("truetype"),
         url("../fonts/museosans_500/MuseoSans_500-webfont.svg#museo_sans500") format("svg");
    font-weight: normal;
    font-style: normal;
}

html {
	min-height: 100%;
	position: relative;
}

body {
	font-family: "museo_sans500";
	background: black;
}

#login-window {
	border-radius: 10px;
	font-size: 16px;
	height: 46vh;
	margin-left: 21%;
	padding: 2vh 2vh;
	position: fixed;
	top: 27vh;
	width: 18%;
	z-index: 1000;

	form {
		height: 26vh;

		legend {
			text-align: center;
			font-size: 22px;
		}

		input {
			margin-bottom: 10px;
			font-size: 16px;
		}

		.alert {
			padding-top: 5px;
			padding-bottom: 5px;

			button {
				font-size: 22px;
				width: 40px;
			}
		}

		button {
			float: left;
			margin-bottom: 10px;
			font-size: 16px;
			width: 80px;
		}

		.external-logins {
			border-color: #b2b2b2;
			border-style: solid;
			border-width: 0 0 1px 0;
			height: 15vh;
			margin-bottom: 5px;

			#btn-google, #btn-facebook, #btn-github {
				width: 100%;
			}

			.btn {
			  background-image: none;
			  border: 1px solid transparent;
			  white-space: nowrap;
			  padding: 8px 12px;
			  // font-size: 14px;
			  line-height: 1.42857143;
			  -webkit-user-select: none;
			  -moz-user-select: none;
			  -ms-user-select: none;
			  user-select: none;
			}

			.btn-default {
			  color: #ffffff;
			  background-color: #3a3f44;
			  border-color: #3a3f44;
			  font-weight: 100;
			}

			.btn-default:focus,
			.btn-default.focus {
			  color: #ffffff;
			  background-color: #232628;
			  border-color: #000000;
			}

			.btn-default:hover {
			  color: #ffffff;
			  background-color: #232628;
			  border-color: #1e2023;
			}

			.btn-default:active,
			.btn-default.active,
			.open > .dropdown-toggle.btn-default {
			  color: #ffffff;
			  background-color: #232628;
			  border-color: #1e2023;
			}

			.btn-default:active:hover,
			.btn-default.active:hover,
			.open > .dropdown-toggle.btn-default:hover,
			.btn-default:active:focus,
			.btn-default.active:focus,
			.open > .dropdown-toggle.btn-default:focus,
			.btn-default:active.focus,
			.btn-default.active.focus,
			.open > .dropdown-toggle.btn-default.focus {
			  color: #ffffff;
			  background-color: #121415;
			  border-color: #000000;
			}

			.btn-default:active,
			.btn-default.active,
			.open > .dropdown-toggle.btn-default {
			  background-image: none;
			}

			.btn-default.disabled:hover,
			.btn-default[disabled]:hover,
			fieldset[disabled] .btn-default:hover,
			.btn-default.disabled:focus,
			.btn-default[disabled]:focus,
			fieldset[disabled] .btn-default:focus,
			.btn-default.disabled.focus,
			.btn-default[disabled].focus,
			fieldset[disabled] .btn-default.focus {
			  background-color: #3a3f44;
			  border-color: #3a3f44;
			}

			.btn-default .badge {
			  color: #3a3f44;
			  background-color: #ffffff;
			}
		}

		#login {
			margin-left: 61px;
		}

		#signup {
			margin-left: 20px;
		}

		a {
			clear: both;
			display: block;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
	}
}

#signup-window {
	font-size: 16px;
	position: fixed;
	top: 25vh;
	margin-left: 285px;
	height: 50vh;
	width: 570px;
	z-index: 1000;
	border-radius: 10px;

	form {
		height: 26vh;
		width: 80%;
		margin-left: auto;
		margin-right: auto;

		legend {
			text-align: center;
			font-size: 20px;
		}

		input {
			margin-bottom: 10px;
			font-size: 16px;
		}

		.alert {
			padding-top: 5px;
			padding-bottom: 5px;

			button {
				font-size: 22px;
				width: 40px;
			}
		}

		button {
			float: left;
			margin-bottom: 10px;
			font-size: 16px;
			width: 80px;
		}

		.external-signups {
			border-color: #b2b2b2;
			border-style: solid;
			border-width: 0 0 1px 0;
			height: 15vh;
			margin-bottom: 5px;

			#btn-google-signup, #btn-facebook-signup, #btn-github-signup {
				width: 100%;
			}

			.btn {
			  background-image: none;
			  border: 1px solid transparent;
			  white-space: nowrap;
			  padding: 8px 12px;
			  // font-size: 14px;
			  line-height: 1.42857143;
			  -webkit-user-select: none;
			  -moz-user-select: none;
			  -ms-user-select: none;
			  user-select: none;
			}

			.btn-default {
			  color: #ffffff;
			  background-color: #3a3f44;
			  border-color: #3a3f44;
			  font-weight: 100;
			}

			.btn-default:focus,
			.btn-default.focus {
			  color: #ffffff;
			  background-color: #232628;
			  border-color: #000000;
			}

			.btn-default:hover {
			  color: #ffffff;
			  background-color: #232628;
			  border-color: #1e2023;
			}

			.btn-default:active,
			.btn-default.active,
			.open > .dropdown-toggle.btn-default {
			  color: #ffffff;
			  background-color: #232628;
			  border-color: #1e2023;
			}

			.btn-default:active:hover,
			.btn-default.active:hover,
			.open > .dropdown-toggle.btn-default:hover,
			.btn-default:active:focus,
			.btn-default.active:focus,
			.open > .dropdown-toggle.btn-default:focus,
			.btn-default:active.focus,
			.btn-default.active.focus,
			.open > .dropdown-toggle.btn-default.focus {
			  color: #ffffff;
			  background-color: #121415;
			  border-color: #000000;
			}

			.btn-default:active,
			.btn-default.active,
			.open > .dropdown-toggle.btn-default {
			  background-image: none;
			}

			.btn-default.disabled:hover,
			.btn-default[disabled]:hover,
			fieldset[disabled] .btn-default:hover,
			.btn-default.disabled:focus,
			.btn-default[disabled]:focus,
			fieldset[disabled] .btn-default:focus,
			.btn-default.disabled.focus,
			.btn-default[disabled].focus,
			fieldset[disabled] .btn-default.focus {
			  background-color: #3a3f44;
			  border-color: #3a3f44;
			}

			.btn-default .badge {
			  color: #3a3f44;
			  background-color: #ffffff;
			}
		}

		#register-user {
			margin-left: 125px;
		}

		#close-signup-window {
			margin-left: 20px;
		}
	}
}