@import 'fonts.scss';
@import 'navbar.scss';
@import 'product_list.scss';
@import 'footer.scss';

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin box-shadow ($offsetx, $offsety, $blur, $spread, $color) {
	-moz-box-shadow: $offsetx $offsety $blur $spread $color;
	-webkit-box-shadow: $offsetx $offsety $blur $spread $color;
	box-shadow: $offsetx $offsety $blur $spread $color;
}

html {
	min-height: 100%;
	position: relative;
}

body {
	font-family: "museo_sans500";
	margin-bottom: 241px;
	background-color: #653918;
}

input {
	margin-bottom: 20px;
}

.page-hero {
	float: left;
	width: 100%;
	h1 {
		color: #fff;
	}
}



 // Responsive Tablet Sizes
@media only screen and (max-width: 991px) {
	// body {
	// 	padding-top: 156px;
	// }
}

@media only screen and (max-width: 769px) {
	// body {
	// 	padding-top: 100px;
	// }
	.card {
		// margin-left: auto;
		// margin-right: auto;
		// margin-top: 100px;
		// height: 100%;
		margin-bottom: 99px;
		padding-bottom: 50px;
		// width: 90%;

		// .face {
		// 	border-radius: 20px;
		// }

		.front {

			.start-menu {
				.col-md-6 {
					float: left;
					margin-left: 5%;
					margin-right: 5%;
					width: 40%;
				}

				h1 {
					padding-top: 30px;
				}

				.button {
					margin-left: 0;
					width: 100%;
				}

				#start {
					width: 100%;
					margin-left: 0;
					height: 60px;
				}
			}

			.trivia {
				.question {
					margin: 30px 50px 5px;
				}

				.choices {
					margin: 20px 50px 0;
				}
			}
		}

		.back {
			.content {
				margin-top: -30px;
			}
		}
	}
}

@media only screen and (max-width: 749px) {
	body {
		margin-bottom: 377px;
	}

	footer {
		height: 377px;
		.centered {
			flex-wrap:wrap;
			.footer-contact {
				width  : 50%;
				margin : 0 auto;
			}

			.footer-connect {
				width  : 50%;
				margin : 0 auto;
			}
			.footer-navigation {
				width:100%;
			}
		}
	}
}

 // Responsive Mobile Sizes
@media only screen and (max-width: 699px) {
	
}


@media only screen and (max-width: 500px) {
	body {
		margin-bottom: 600px !important;
	}

	.card {
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		height: 650px;
		margin-bottom: 60px;
		width: 100%;

		.face {
			border-radius: 20px;
		}

		.front {

			.start-menu {
				.col-md-6 {
					margin-left: 2.5%;
					margin-right: 2.5%;
					width: 45%;
				}

				h1 {
					font-size: 24px;
				}

				.button {
					padding-left: 8px;
					padding-right: 8px;
				}

				#start {
					margin-top: 30px;
				}
			}

			.trivia {
				.question {
					margin: 30px 33px 5px;
				}

				.choices {
					margin: 20px 33px 0;
				}
			}
		}

		.back {
			.content {
				margin-top: 0;
			}
			.correct-content {
				h1 {
					margin-left: -25px;
				}
			}
		}
	}

	footer {
		height: 505px;

		.centered {
			margin-right : 0;
			margin-left  : 0;
			.footer-contact {
				width  : 100%;
				margin : 0 auto;
			}

			.footer-connect {
				width  : 100%;
				margin : 0 auto;
			}
		}
	}
}