@import 'fonts.scss';
@import 'navbar.scss';
@import 'product_list.scss';
@import 'footer.scss';

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin box-shadow ($offsetx, $offsety, $blur, $spread, $color) {
	-moz-box-shadow: $offsetx $offsety $blur $spread $color;
	-webkit-box-shadow: $offsetx $offsety $blur $spread $color;
	box-shadow: $offsetx $offsety $blur $spread $color;
}

html {
	min-height: 100%;
	position: relative;
}

body {
	font-family: "museo_sans500"; 
	margin-bottom: 241px;
	background-color: #653918;
}

input {
	margin-bottom: 20px;
}

.page-hero {
	float: left;
	width: 100%;
	h1 {
		color: #fff;
	}
}

.admin-table {
	background-color: #fff;
}