@font-face {
  font-family: "museo_sans500";
  src: url("../fonts/museosans_500/MuseoSans_500-webfont.eot");
  src: url("../fonts/museosans_500/MuseoSans_500-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museosans_500/MuseoSans_500-webfont.woff2") format("woff2"), url("../fonts/museosans_500/MuseoSans_500-webfont.woff") format("woff"), url("../fonts/museosans_500/MuseoSans_500-webfont.ttf") format("truetype"), url("../fonts/museosans_500/MuseoSans_500-webfont.svg#museo_sans500") format("svg");
  font-weight: normal;
<<<<<<< HEAD
  font-style: normal; }
=======
  font-style: normal;
}
>>>>>>> 7d1fbb64226e1ce9b5aca620b3a71a975aba9e3e
