.footer-logo {
  background-image: url("../images/bakesale2go-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100%;
  max-width: 300px;
  display: block;
  margin: auto; }

span.copy {
  color: #fff;
  font-size: 10px;
  width: 100%;
  text-align: center;
  display: block;
  padding: 20px; }

footer {
  background: #74dbf1;
  color: #fff;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 241px; }
  footer.product-footer {
    height: auto; }
  footer h3 {
    color: #9d9d9d;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 40px; }
  footer p, footer li {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 10px 0; }
  footer a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: color .5s, background .5s;
    transition: color .5s, background .5s; }
    footer a:hover {
      color: #65c2ed; }
  footer .centered {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    footer .centered:before, footer .centered:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      clear: both; }
    footer .centered .footer-contact {
      width: 35%; }
      footer .centered .footer-contact .fa {
        width: 20px;
        padding-right: 10px; }
    footer .centered .footer-connect {
      width: 35%; }
    footer .centered .footer-navigation {
      width: 30%; }
      footer .centered .footer-navigation ul {
        width: 50%;
        float: left; }
      footer .centered .footer-navigation .fa {
        padding-right: 10px; }
  footer .bottom-bar {
    position: relative;
    text-align: center;
    font-size: .8em;
    text-transform: uppercase;
    background: #000;
    padding: 15px 0; }
  footer ul {
    list-style-type: none; }

.social li {
  float: left; }
.social a {
  display: inline-block;
  padding: 0 7px;
  margin: 3px 10px 10px 0;
  vertical-align: middle; }
