.header {
  margin-top: 20px;
  background-color: #0E0D10;
  background-image: none;
  color: #fff;
  text-align: center; }

.navbar-wrap {
  float: left;
  width: 100%;
  background-color: #74dbf1; }

.logo {
  background-image: url("../images/bakesale2go-logo.svg");
  background-position: 0 12px;
  background-size: 100%;
  background-repeat: no-repeat;
  float: left;
  height: 100px;
  width: 100%;
  max-width: 300px; }

.navbar-links-container {
  float: right; }
  .navbar-links-container button.nav-btn {
    background-color: #5babff;
    border: 0;
    color: #fff;
    font-family: "museo_sans500";
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out; }
    .navbar-links-container button.nav-btn:hover {
      background-color: #ff00a4; }
  .navbar-links-container a {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    margin-top: 40px;
    padding: 20px;
    position: relative; }
    .navbar-links-container a:focus, .navbar-links-container a:hover {
      text-decoration: none; }
      .navbar-links-container a:focus:after, .navbar-links-container a:hover:after {
        opacity: 1; }
    .navbar-links-container a:after {
      opacity: 0;
      content: '';
      position: absolute;
      bottom: 13px;
      left: 0;
      right: 0;
      width: 100%;
      height: 3px;
      background-color: #fff;
      transition: all 0.2s ease-in-out; }
