.navbar-wrap {
  width: 100%;
  background-color: #74dbf1;
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  margin-bottom: 20px;
}
.navbar-wrap .logo {
  background-image: url("../images/bakesale2go-logo.svg");
  background-position: 0 12px;
  background-size: 100%;
  background-repeat: no-repeat;
  float: left;
  height: 100px;
  width: 100%;
  max-width: 300px;
}
.navbar-wrap .navbar-links-container {
  float: right;
}
.navbar-wrap .navbar-links-container a {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  margin-top: 40px;
  padding: 20px;
  position: relative;
}
.navbar-wrap .navbar-links-container a:focus, .navbar-wrap .navbar-links-container a:hover {
  text-decoration: none;
}
.navbar-wrap .navbar-links-container a:focus:after, .navbar-wrap .navbar-links-container a:hover:after {
  opacity: 1;
}
.navbar-wrap .navbar-links-container a:after {
  opacity: 0;
  content: "";
  position: absolute;
  bottom: 13px;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}
.navbar-wrap .navbar-links-container button.nav-btn {
  background-color: #5babff;
  border: 0;
  color: #fff;
  font-family: "museo_sans500";
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.navbar-wrap .navbar-links-container button.nav-btn:hover {
  background-color: #ff00a4;
}
.navbar-wrap .navbar-links-container button.nav-btn a {
  margin: 0;
  padding: 0;
}
.navbar-wrap .navbar-links-container button.nav-btn a:after {
  height: 0;
}
.navbar-wrap .navbar-links-container button.nav-btn .dropdown-menu a {
  color: #333;
  width: 100%;
  padding: 0 20px;
}
