.navbar-wrap {
  float: left;
  width: 100%;
  background-color: #74dbf1;
  border-bottom: 5px solid #e24533;
  top: 0;
  position: fixed;
  z-index: 1000;
}

@media (max-width: 767px) {
  .navbar-wrap {
    border-bottom: none;
  }
}
@media (max-width: 767px) {
  .navbar-wrap .container {
    padding: 0;
  }
}

.logo {
  background-image: url("../images/bakesale2go-logo.svg");
  background-position: 0 12px;
  background-size: 100%;
  background-repeat: no-repeat;
  float: left;
  height: 100px;
  width: 100%;
  max-width: 300px;
}

@media (max-width: 767px) {
  .logo {
    float: none;
    display: block;
    margin: auto;
  }
}

.navbar-links-container {
  float: right;
}

@media (max-width: 767px) {
  .navbar-links-container {
    width: 100%;
    background-color: #e24533;
    text-align: center;
  }
}

.navbar-links-container button.nav-btn {
  background-color: #5babff;
  border: 0;
  color: #fff;
  font-family: "museo_sans500";
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 991px) {
  .navbar-links-container button.nav-btn {
    font-size: 18px;
  }
}

.navbar-links-container button.nav-btn:hover {
  background-color: #ff00a4;
}

@media (max-width: 767px) {
  .navbar-links-container button.nav-btn:hover {
    background-color: #6f3029;
  }
}

.navbar-links-container a {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  margin-top: 40px;
  padding: 20px;
  position: relative;
}

@media (max-width: 991px) {
  .navbar-links-container a {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .navbar-links-container a {
    margin-top: 0;
  }
}

.navbar-links-container a:focus, .navbar-links-container a:hover {
  text-decoration: none;
}

.navbar-links-container a:focus:after, .navbar-links-container a:hover:after {
  opacity: 1;
}

.navbar-links-container a:after {
  opacity: 0;
  content: '';
  position: absolute;
  bottom: 13px;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

.footer-logo {
  background-image: url("../images/bakesale2go-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100%;
  max-width: 300px;
  display: block;
  margin: auto;
}

span.copy {
  color: #fff;
  font-size: 10px;
  width: 100%;
  text-align: center;
  display: block;
  padding: 20px;
}

footer {
  background: #74dbf1;
  color: #fff;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 241px;
}

footer.product-footer {
  height: auto;
}

footer .footer-logo {
  background-image: url("../images/bakesale2go-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100%;
  max-width: 300px;
  display: block;
  margin: auto;
}

footer span.copy {
  color: #fff;
  font-size: 10px;
  width: 100%;
  text-align: center;
  display: block;
  padding: 20px;
}

footer h3 {
  color: #9d9d9d;
  font-weight: lighter;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 40px;
}

footer p, footer li {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 10px 0;
}

footer a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color .5s, background .5s;
  transition: color .5s, background .5s;
}

footer a:hover {
  color: #65c2ed;
}

footer .centered {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer .centered:before, footer .centered:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both;
}

footer .centered .footer-contact {
  width: 35%;
}

footer .centered .footer-contact .fa {
  width: 20px;
  padding-right: 10px;
}

footer .centered .footer-connect {
  width: 35%;
}
footer .centered .footer-navigation {
  width: 30%;
}

footer .centered .footer-navigation ul {
  width: 50%;
  float: left;
}

footer .centered .footer-navigation .fa {
  padding-right: 10px;
}

footer .bottom-bar {
  position: relative;
  text-align: center;
  font-size: .8em;
  text-transform: uppercase;
  background: #000;
  padding: 15px 0;
}

footer ul {
  list-style-type: none;
}

.social li {
  float: left;
}

.social a {
  display: inline-block;
  padding: 0 7px;
  margin: 3px 10px 10px 0;
  vertical-align: middle;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: "museo_sans500";
  margin-bottom: 241px;
  background-color: #333333;
  font-family: "museo_sans500";
  margin-bottom: 241px;
  background-color: #210D00;
  color: #fff;
}

.container .form-group {
  width: 90%;
}
.container .form-group #fAddress {
  width: 53%;
}
.container .form-group #fCity {
  width: 12%;
}
.container .form-group #fState {
  width: 5%;
}
.container .form-group #fZip {
  width: 10%;
}

#locations-list {
  height: auto;
  max-height: 500px;
  margin-bottom: 60px;
  overflow: auto;
}
@media(max-width:991px){
  #locations-list {
    overflow: initial;
    max-height: initial;
  }
}
#mapid .leaflet-control-container {
  width: 100%;
}
.search-col-wrap {
  position: absolute;
  overflow: scroll;
  height: 100%;
  width: 45%;
  padding-top: 113px;
}
@media(max-width:991px){
  .search-col-wrap {
    width: 100%;
    position: initial;
    float: left;
    padding-top: 200px;
    overflow: initial;
  }
}
.locate-search-form-wrap {
  float: left;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
}
.full-map-container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 55%;
}
@media(max-width:991px){
  .full-map-container {
    position: initial;
    width: 100%;
    height: 300px;
  }
}
.directions-wrap {
  float: left;
  width: 100%;
  padding: 20px;
}
.directions-wrap h2 {
  font-family: 'helvetica';
}
.locations-container {
  float: left;
  width: 100%;
}
.leaflet-left {
  bottom: 45px;
  top: initial;
  right: 20px;
  left: initial;
}
.location-list-wrap {
  width: 100%;
  float: left;
  padding: 20px;
}
.location-item {
  float: left;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #581e0c;
  border-radius: 5px;
}
.location-item p{
  font-family: 'helvetica';
}
.location-item p.address {
  font-size: 25px;
}
.locate-search-form-wrap .locate-btn {
  float: left;
  width: 100%;
  font-family: 'helvetica';
  padding: 10px 30px;
  transition: all 0.2s ease-in-out;
  margin-bottom: 10px;
  background-image: url('../images/compass.svg');
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  color: #5f5f5f;
  text-shadow: none;
  letter-spacing: 0.02em;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 20px center;
}
.locate-search-form-wrap .locate-btn:hover {
  background-color: #e24533;
  color: #fff;
}
.form-inline .form-group.address-input {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  padding-right: 0;
}
.form-inline .form-group.address-input input {
  width: 100%;
}
.search-form .form-group {
  float: left;
  width: 33.3333333%;
  padding-right: 5px;
}
.search-form .form-group.zip-input {
  padding-right: 0;
}
.search-form .form-group input {
  width: 100%;
}
.action-btn .btn.btn-primary {
  width: 100%;
  max-width: 300px;
  float: right;
  margin-top: 10px;
}