@font-face {
  font-family: "museo_sans500";
  src: url("../fonts/museosans_500/MuseoSans_500-webfont.eot");
  src: url("../fonts/museosans_500/MuseoSans_500-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museosans_500/MuseoSans_500-webfont.woff2") format("woff2"), url("../fonts/museosans_500/MuseoSans_500-webfont.woff") format("woff"), url("../fonts/museosans_500/MuseoSans_500-webfont.ttf") format("truetype"), url("../fonts/museosans_500/MuseoSans_500-webfont.svg#museo_sans500") format("svg");
  font-weight: normal;
  font-style: normal;
}
.header {
  margin-top: 20px;
  background-color: #0E0D10;
  background-image: none;
  color: #fff;
  text-align: center;
}

.navbar-wrap {
  float: left;
  width: 100%;
  background-color: #74dbf1;
}

.logo {
  background-image: url("../images/bakesale2go-logo.svg");
  background-position: 0 12px;
  background-size: 100%;
  background-repeat: no-repeat;
  float: left;
  height: 100px;
  width: 100%;
  max-width: 300px;
}

.navbar-links-container {
  float: right;
}
.navbar-links-container button.nav-btn {
  background-color: #5babff;
  border: 0;
  color: #fff;
  font-family: "museo_sans500";
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.navbar-links-container button.nav-btn:hover {
  background-color: #ff00a4;
}
.navbar-links-container a {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  margin-top: 40px;
  padding: 20px;
  position: relative;
}
.navbar-links-container a:focus, .navbar-links-container a:hover {
  text-decoration: none;
}
.navbar-links-container a:focus:after, .navbar-links-container a:hover:after {
  opacity: 1;
}
.navbar-links-container a:after {
  opacity: 0;
  content: '';
  position: absolute;
  bottom: 13px;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

.update-bg {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
}
.update-bg #create-item-window, .update-bg #update-window {
  font-size: 14px;
  position: fixed;
  top: 18vh;
  margin-left: 37.5%;
  height: 64vh;
  width: 25%;
  z-index: 2;
  border-radius: 10px;
}
.update-bg #create-item-window legend, .update-bg #update-window legend {
  text-align: center;
  font-size: 24px;
}
.update-bg #create-item-window form, .update-bg #update-window form {
  height: 26vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.update-bg #create-item-window form input, .update-bg #update-window form input {
  margin-bottom: 10px;
  font-size: 14px;
}
.update-bg #create-item-window form button, .update-bg #update-window form button {
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  width: 30%;
}

#add-new-item, #submit-update {
  margin-left: 17.5%;
}

#cancel-new-item, #cancel-update {
  margin-left: 5%;
}

#create-item {
  margin-bottom: 20px;
}

#inventory-table .sorter {
  float: right;
  padding: 2px 6px;
  font-size: 16px;
}
#inventory-table .fa-caret-down {
  margin-right: 5px;
}
#inventory-table td:nth-child(1) {
  width: 20%;
}
#inventory-table td:nth-child(2),
#inventory-table td:nth-child(5) {
  width: 12%;
}
#inventory-table td:nth-child(3) {
  width: 15%;
}
#inventory-table td:nth-child(4) {
  width: 34%;
}
#inventory-table td:nth-child(6) {
  width: 7%;
}
#inventory-table button {
  float: right;
  padding: 2px 6px;
  font-size: 12px;
}
#inventory-table .edit-button {
  margin-right: 5px;
}

.products-content .thumbnail img {
  max-height: 235px;
}

.cart {
  border-width: 2px;
  border-color: #000;
  border-style: solid;
  margin-bottom: 20px;
}
.cart h3 {
  text-align: center;
}

footer {
  background: #222222;
  color: #fff;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 241px;
}
footer h3 {
  color: #9d9d9d;
  font-weight: lighter;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 40px;
}
footer p, footer li {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 10px 0;
}
footer a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color .5s, background .5s;
  transition: color .5s, background .5s;
}
footer a:hover {
  color: #65c2ed;
}
footer .centered {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .centered:before, footer .centered:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both;
}
footer .centered .footer-contact {
  width: 35%;
}
footer .centered .footer-contact .fa {
  width: 20px;
  padding-right: 10px;
}
footer .centered .footer-connect {
  width: 35%;
}
footer .centered .footer-navigation {
  width: 30%;
}
footer .centered .footer-navigation ul {
  width: 50%;
  float: left;
}
footer .centered .footer-navigation .fa {
  padding-right: 10px;
}
footer .bottom-bar {
  position: relative;
  text-align: center;
  font-size: .8em;
  text-transform: uppercase;
  background: #000;
  padding: 15px 0;
}
footer ul {
  list-style-type: none;
}

.social li {
  float: left;
}
.social a {
  display: inline-block;
  padding: 0 7px;
  margin: 3px 10px 10px 0;
  vertical-align: middle;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: "museo_sans500";
  margin-bottom: 241px;
  background-color: #653918;
}

input {
  margin-bottom: 20px;
}

.page-hero {
  float: left;
  width: 100%;
}
.page-hero h1 {
  color: #fff;
}

@media only screen and (max-width: 769px) {
  .card {
    margin-bottom: 99px;
    padding-bottom: 50px;
  }
  .card .front .start-menu .col-md-6 {
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
  }
  .card .front .start-menu h1 {
    padding-top: 30px;
  }
  .card .front .start-menu .button {
    margin-left: 0;
    width: 100%;
  }
  .card .front .start-menu #start {
    width: 100%;
    margin-left: 0;
    height: 60px;
  }
  .card .front .trivia .question {
    margin: 30px 50px 5px;
  }
  .card .front .trivia .choices {
    margin: 20px 50px 0;
  }
  .card .back .content {
    margin-top: -30px;
  }
}
@media only screen and (max-width: 749px) {
  body {
    margin-bottom: 377px;
  }

  footer {
    height: 377px;
  }
  footer .centered {
    flex-wrap: wrap;
  }
  footer .centered .footer-contact {
    width: 50%;
    margin: 0 auto;
  }
  footer .centered .footer-connect {
    width: 50%;
    margin: 0 auto;
  }
  footer .centered .footer-navigation {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  body {
    margin-bottom: 600px !important;
  }

  .card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 650px;
    margin-bottom: 60px;
    width: 100%;
  }
  .card .face {
    border-radius: 20px;
  }
  .card .front .start-menu .col-md-6 {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 45%;
  }
  .card .front .start-menu h1 {
    font-size: 24px;
  }
  .card .front .start-menu .button {
    padding-left: 8px;
    padding-right: 8px;
  }
  .card .front .start-menu #start {
    margin-top: 30px;
  }
  .card .front .trivia .question {
    margin: 30px 33px 5px;
  }
  .card .front .trivia .choices {
    margin: 20px 33px 0;
  }
  .card .back .content {
    margin-top: 0;
  }
  .card .back .correct-content h1 {
    margin-left: -25px;
  }

  footer {
    height: 505px;
  }
  footer .centered {
    margin-right: 0;
    margin-left: 0;
  }
  footer .centered .footer-contact {
    width: 100%;
    margin: 0 auto;
  }
  footer .centered .footer-connect {
    width: 100%;
    margin: 0 auto;
  }
}
