@font-face {
  font-family: "museo_sans500";
  src: url("../fonts/museosans_500/MuseoSans_500-webfont.eot");
  src: url("../fonts/museosans_500/MuseoSans_500-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museosans_500/MuseoSans_500-webfont.woff2") format("woff2"), url("../fonts/museosans_500/MuseoSans_500-webfont.woff") format("woff"), url("../fonts/museosans_500/MuseoSans_500-webfont.ttf") format("truetype"), url("../fonts/museosans_500/MuseoSans_500-webfont.svg#museo_sans500") format("svg");
  font-weight: normal;
  font-style: normal;
}
#open-table .sorter, #picked-up-table .sorter {
  float: right;
  padding: 2px 6px;
  font-size: 16px;
}
#open-table .fa-caret-down, #picked-up-table .fa-caret-down {
  margin-right: 5px;
}
#open-table td:nth-child(1), #open-table td:nth-child(2), #open-table td:nth-child(4), #picked-up-table td:nth-child(1), #picked-up-table td:nth-child(2), #picked-up-table td:nth-child(4) {
  width: 12%;
}
#open-table td:nth-child(3), #picked-up-table td:nth-child(3) {
  width: 15%;
}
#open-table td:nth-child(5), #picked-up-table td:nth-child(5) {
  width: 20%;
}
#open-table td:nth-child(6), #open-table td:nth-child(7), #picked-up-table td:nth-child(6), #picked-up-table td:nth-child(7) {
  width: 10%;
}
#open-table button, #picked-up-table button {
  float: right;
  padding: 2px 6px;
  font-size: 12px;
}
