@font-face {
  font-family: "museo_sans500";
  src: url("../fonts/museosans_500/MuseoSans_500-webfont.eot");
  src: url("../fonts/museosans_500/MuseoSans_500-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museosans_500/MuseoSans_500-webfont.woff2") format("woff2"), url("../fonts/museosans_500/MuseoSans_500-webfont.woff") format("woff"), url("../fonts/museosans_500/MuseoSans_500-webfont.ttf") format("truetype"), url("../fonts/museosans_500/MuseoSans_500-webfont.svg#museo_sans500") format("svg");
  font-weight: normal;
  font-style: normal;
}
.navbar-wrap {
  float: left;
  width: 100%;
  background-color: #74dbf1;
  border-bottom: 5px solid #e24533;
  top: 0;
  position: fixed;
  z-index: 1000;
}
@media (max-width: 767px) {
  .navbar-wrap {
    border-bottom: none;
  }
}
@media (max-width: 767px) {
  .navbar-wrap .container {
    padding: 0;
  }
}

.logo {
  background-image: url("../images/bakesale2go-logo.svg");
  background-position: 0 12px;
  background-size: 100%;
  background-repeat: no-repeat;
  float: left;
  height: 100px;
  width: 100%;
  max-width: 300px;
}
@media (max-width: 767px) {
  .logo {
    float: none;
    display: block;
    margin: auto;
  }
}

.navbar-links-container {
  float: right;
}
@media (max-width: 767px) {
  .navbar-links-container {
    width: 100%;
    background-color: #e24533;
    text-align: center;
  }
}
.navbar-links-container button.nav-btn {
  background-color: #5babff;
  border: 0;
  color: #fff;
  font-family: "museo_sans500";
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 991px) {
  .navbar-links-container button.nav-btn {
    font-size: 18px;
  }
}
.navbar-links-container button.nav-btn:hover {
  background-color: #ff00a4;
}
@media (max-width: 767px) {
  .navbar-links-container button.nav-btn:hover {
    background-color: #6f3029;
  }
}
.navbar-links-container a {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  margin-top: 40px;
  padding: 20px;
  position: relative;
}
@media (max-width: 991px) {
  .navbar-links-container a {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .navbar-links-container a {
    margin-top: 0;
  }
}
.navbar-links-container a:focus, .navbar-links-container a:hover {
  text-decoration: none;
}
.navbar-links-container a:focus:after, .navbar-links-container a:hover:after {
  opacity: 1;
}
.navbar-links-container a:after {
  opacity: 0;
  content: '';
  position: absolute;
  bottom: 13px;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

.update-bg {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
}
.update-bg #create-item-window, .update-bg #update-window {
  font-size: 14px;
  position: fixed;
  top: 18vh;
  margin-left: 37.5%;
  height: 64vh;
  width: 25%;
  z-index: 2;
  border-radius: 10px;
}
.update-bg #create-item-window legend, .update-bg #update-window legend {
  text-align: center;
  font-size: 24px;
}
.update-bg #create-item-window form, .update-bg #update-window form {
  height: 26vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.update-bg #create-item-window form input, .update-bg #update-window form input {
  margin-bottom: 10px;
  font-size: 14px;
}
.update-bg #create-item-window form button, .update-bg #update-window form button {
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  width: 30%;
}

#add-new-item, #submit-update {
  margin-left: 17.5%;
}

#cancel-new-item, #cancel-update {
  margin-left: 5%;
}

#create-item {
  margin-bottom: 20px;
}

#inventory-table .sorter {
  float: right;
  padding: 2px 6px;
  font-size: 16px;
}
#inventory-table .fa-caret-down {
  margin-right: 5px;
}
#inventory-table td:nth-child(1) {
  width: 20%;
}
#inventory-table td:nth-child(2),
#inventory-table td:nth-child(5) {
  width: 12%;
}
#inventory-table td:nth-child(3) {
  width: 15%;
}
#inventory-table td:nth-child(4) {
  width: 34%;
}
#inventory-table td:nth-child(6) {
  width: 7%;
}
#inventory-table button {
  float: right;
  padding: 2px 6px;
  font-size: 12px;
}
#inventory-table .edit-button {
  margin-right: 5px;
}

.products-content {
  float: left;
  width: 100%;
}
.products-content .thumbnail img {
  max-height: 235px;
}

.cart {
  border-width: 2px;
  border-color: #000;
  border-style: solid;
  margin-bottom: 20px;
}
.cart h3 {
  text-align: center;
}

.content {
  width: 100%;
  padding: 0;
}
.content .margin {
  width: -webkit-calc((100vw - 1170px) / 2);
  width: -moz-calc((100vw - 1170px) / 2);
  width: calc((100vw - 1170px) / 2);
}
.content .products-content {
  width: 1140px;
  padding: 0 15px;
}
.content .products-content .thumbnail img {
  height: 235px;
}
.content .margin-right {
  position: -webkit-sticky;
  position: sticky;
  top: 128.5px;
}
.content .margin-right .cart {
  width: 85%;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  margin-bottom: 20px;
}
.content .margin-right .cart h3 {
  text-align: center;
}
.content .margin-right .cart .container {
  width: 100%;
  font-size: 16px;
}
.content .margin-right .cart .container #cart-items .row {
  margin-bottom: 20px;
}
.content .margin-right .cart .container #cart-items .row .col-md-6 a {
  font-size: 12px;
}
.content .margin-right .cart .container #cart-items .row .col-md-4, .content .margin-right .cart .container #cart-items .row .col-md-2 {
  padding: 0;
}
.content .margin-right .cart .container #cart-items .row .col-md-4 select, .content .margin-right .cart .container #cart-items .row .col-md-2 select {
  width: 70%;
}
.content .margin-right .cart .container #cart-items .row .col-md-4 p, .content .margin-right .cart .container #cart-items .row .col-md-2 p {
  margin-left: 0;
}
.content .margin-right .cart .container #checkout {
  margin-bottom: 20px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  text-decoration: none;
  background-color: #5babff;
  border: 0;
  color: #fff;
  font-family: "museo_sans500";
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.content .margin-right .cart .container #checkout:hover {
  background-color: #ff00a4;
}

.footer-logo {
  background-image: url("../images/bakesale2go-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100%;
  max-width: 300px;
  display: block;
  margin: auto;
}
.inventory-table-wrapper {
  background-color: #fff;
  padding: 20px;
  font-family: 'helvetica';
  color: #333;
  border-radius: 5px;
}
.table-content h2 {
  font-family: 'helvetica';
}
.table-action-row {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.table-action-row button {
  margin-right: 5px;
}
.table-action-row button.pull-right {
  margin-right: 0;
}
span.copy {
  color: #fff;
  font-size: 10px;
  width: 100%;
  text-align: center;
  display: block;
  padding: 20px;
}

footer {
  background: #74dbf1;
  color: #fff;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 241px;
}
footer.product-footer {
  height: auto;
}
footer .footer-logo {
  background-image: url("../images/bakesale2go-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100%;
  max-width: 300px;
  display: block;
  margin: auto;
}
footer span.copy {
  color: #fff;
  font-size: 10px;
  width: 100%;
  text-align: center;
  display: block;
  padding: 20px;
}
footer h3 {
  color: #9d9d9d;
  font-weight: lighter;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 40px;
}
footer p, footer li {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 10px 0;
}
footer a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color .5s, background .5s;
  transition: color .5s, background .5s;
}
footer a:hover {
  color: #65c2ed;
}
footer .centered {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .centered:before, footer .centered:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both;
}
footer .centered .footer-contact {
  width: 35%;
}
footer .centered .footer-contact .fa {
  width: 20px;
  padding-right: 10px;
}
footer .centered .footer-connect {
  width: 35%;
}
footer .centered .footer-navigation {
  width: 30%;
}
footer .centered .footer-navigation ul {
  width: 50%;
  float: left;
}
footer .centered .footer-navigation .fa {
  padding-right: 10px;
}
footer .bottom-bar {
  position: relative;
  text-align: center;
  font-size: .8em;
  text-transform: uppercase;
  background: #000;
  padding: 15px 0;
}
footer ul {
  list-style-type: none;
}

.social li {
  float: left;
}
.social a {
  display: inline-block;
  padding: 0 7px;
  margin: 3px 10px 10px 0;
  vertical-align: middle;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: "museo_sans500";
  margin-bottom: 241px;
  background-color: #333333;
  font-family: "museo_sans500";
  margin-bottom: 241px;
  margin-top: 128.5px;
  background-color: #210D00;
  color: #fff;
}
input {
  margin-bottom: 20px;
}

.page-hero {
  float: left;
  width: 100%;
}
.page-hero h1 {
  color: #fff;
}

.admin-table {
  background-color: #fff;
}
.admin-table .map #mapid {
  position: inherit;
  height: 680px;
  margin: 0;
  padding: 0;
  z-index: 0;
}
.admin-table .map #mapid .leaflet-control-container {
  width: 100%;
}
.admin-table .location-content h1,
.admin-table .location-content h2,
.admin-table .location-content h3,
.admin-table .location-content h4,
.admin-table .location-content h5 {
  color: #7dc9d4;
  font-family: 'helvetica';
}
.admin-table .location-content form {
  float: center;
  width: auto;
}
.admin-table .location-content .leaflet-routing-container-hide {
  display: none;
}
@media only screen and (max-width: 749px) {
  .admin-table body {
    margin-bottom: 377px;
  }
  .admin-table footer {
    height: 377px;
  }
  .admin-table footer .centered {
    flex-wrap: wrap;
  }
  .admin-table footer .centered .footer-contact {
    width: 50%;
    margin: 0 auto;
  }
  .admin-table footer .centered .footer-connect {
    width: 50%;
    margin: 0 auto;
  }
  .admin-table footer .centered .footer-navigation {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .admin-table body {
    margin-bottom: 600px !important;
  }
  .admin-table footer {
    height: 505px;
  }
  .admin-table footer .centered {
    margin-right: 0;
    margin-left: 0;
  }
  .admin-table footer .centered .footer-contact {
    width: 100%;
    margin: 0 auto;
  }
  .admin-table footer .centered .footer-connect {
    width: 100%;
    margin: 0 auto;
  }
}
